@media screen and (max-width: 1024px) and (min-width: 851px) {
    ul .nav-title,
    ul img {
        display: none;
    }

    .title {
        top: 20%;
    }

    #desc {
        top: 26%;
    }

    .project-general img {
        height: 213px;
    }

    #project ul {
        display: block;
    }

    #project {
        padding-left: 10px;
    }

    .display {
        display: block;
    }
    
    #certificate {
        padding-left: 30px;
        width: 100%;
    }

    .desc-1 {
        width: 110px;
    }

    .desc-2 {
        padding-right: 10px;
    }

    .margin-1 {
        margin-bottom: 0;
    }

    .margin-2 {
        margin-top: 0;
        margin-left: 50px;
    }

    .flex {
        flex-direction: row;
    }

    #certificate img {
        width: 200px;
        height: 100px;
        display: flex;
    }

    #certificate ul {
        padding-left: 10px;
    }

    .hr {
        margin: 8px 50px;
    }

    .cert-2 {
        width: 50%;
    }

    .present {
        left: 160px;
    }

    .text-small {
        font-size: smaller;
    }

    .cert-title {
        font-size: small;
        margin-top: 10px;
    }

    #container-general {
        width: 30%;
        padding-left: 20px;
        flex-direction: row;
        gap: 15px;
        grid-template-columns: auto auto 1fr;

    }

    #container-general2 {
        flex-direction: row;
        padding-left: 20px;
        grid-template-columns: auto auto 1fr;
        gap: 15px;
    }

    .project-general {
        width: 315px;
    }

    footer ul {
        margin-right: 0;
        margin-left: 0;
    }

    footer li:first-child {
        margin-left: 0;
    }
}